<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kfang.fencemelibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.kfang.fencemelibrary.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.kfang.fencemelibrary.AboutActivity">
        </activity>
        <activity android:name="com.kfang.fencemelibrary.CardPlayerActivity">

        </activity>
        <activity android:name="com.kfang.fencemelibrary.SettingsActivity">

        </activity>

        <service android:name="com.kfang.fencemelibrary.TimerService" />
    </application>

</manifest>